services:
  datasources:
    build: .
    image: ghcr.io/teritorio/elasa-datasources:${VERSION:-dev}
    environment:
      SENTRY_DSN: ${SENTRY_DSN}
    volumes:
      - ./config:/config
      - ./data:/data
      - ./update.rb:/update.rb
      - ./datasources:/datasources
      - ./cache:/cache
    restart: unless-stopped

  nginx:
    image: nginx
    ports:
      - 1400:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./data:/data
    restart: unless-stopped
