name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install DuckDB
        run: |
          wget https://install.duckdb.org/v1.4.3/libduckdb-linux-amd64.zip &&
          unzip libduckdb-linux-amd64.zip -d libduckdb &&
          sudo mv libduckdb/duckdb.* /usr/local/include/ &&
          sudo mv libduckdb/libduckdb.so /usr/local/lib &&
          sudo ldconfig &&
          rm -fr libduckdb-linux-amd64.zip libduckdb

      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Install httpfs extension for DuckDB
        run: |
          bundle exec ruby -e "require 'duckdb'; DuckDB::Database.open.connect.query('INSTALL httpfs');"

      - name: Run rubocop
        run: bundle exec rubocop --parallel -c .rubocop.yml

      # - name: Run typecheck
      #   run: |
      #     bundle exec tapioca init && \
      #     bundle exec rake rails_rbi:routes && \
      #     bundle exec tapioca dsl && \
      #     bundle exec srb typecheck -q

      # - name: Run security checks
      #   run: |
      #     bin/bundler-audit --update
      #     bin/brakeman -q -w2

      - name: Run tests
        run: bundle exec rake test

  docker:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/master'

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Docker Build and Push
        uses: cartoway/docker-compose-build-push-action@main
        with:
          registry_password: ${{ secrets.GITHUB_TOKEN }}
